html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

* {
    font-family: $rubik, $days, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

