mixin menuIcon(className)
    svg(width="46",
        height="46",
        viewBox="0 0 46 46",
        xmlns="http://www.w3.org/2000/svg",
        class="svg-icon " + className)
        path(d="M5.74998 24.9168H40.25C41.308 24.9168 42.1666 24.0582 42.1666 23.0002C42.1666 21.9422 41.308 21.0835 40.25 21.0835H5.74998C4.69198 21.0835 3.83331 21.9422 3.83331 23.0002C3.83331 24.0582 4.69198 24.9168 5.74998 24.9168ZM5.74998 13.4168H40.25C41.308 13.4168 42.1666 12.5582 42.1666 11.5002C42.1666 10.4422 41.308 9.5835 40.25 9.5835H5.74998C4.69198 9.5835 3.83331 10.4422 3.83331 11.5002C3.83331 12.5582 4.69198 13.4168 5.74998 13.4168ZM5.74998 36.4168H40.25C41.308 36.4168 42.1666 35.5582 42.1666 34.5002C42.1666 33.4422 41.308 32.5835 40.25 32.5835H5.74998C4.69198 32.5835 3.83331 33.4422 3.83331 34.5002C3.83331 35.5582 4.69198 36.4168 5.74998 36.4168Z")