extends ./layout.pug

block var
    - var title = "OkVegan"

block content
    .main-page
        .main-page__title Вегетарианские блюда — это красиво и аппетитно
        .main-page__sub-title Если вы или ваш друг вегитарианцы - это совсем не значит, что вы до конца жизни обречены жевать пресные и скучные блюда.
        .main-page__buttons
            button.main-page__buttons__green Выбрать продукты
            button.main-page__buttons__black Каталог рецептов