.main-page {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;

    background-image: url(../../images/main-page-fon.png);
    background-repeat: no-repeat;
    background-size: 100%;

    .main-page__title {
        width: 900px;
        height: 144px;

        display: flex;
        justify-content: center;
        margin: 0 auto;

        font-family: $days;
        font-size: 56px;
        line-height: 72px;
        text-align: center;
        color: $black;
    }

    .main-page__sub-title {
        display: flex;
        justify-content: center;
        width: 845px;
        height: 70px;
        margin: 0 auto;
    
        font-family: $rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 145%;
        text-align: center;
        color: $black;
    }
    
    .main-page__buttons-container {
        display: flex;
        justify-content: center;
        width: 866px;
        height: 72px;
        margin: 0 auto;

        .main-page__buttons-container__green {
            width: 373px;
            height: 72px;
            margin-right: 60px;

            background: $green;
            border-radius: 2px;
            border: none;

            font-family: $rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.5px;

            color: $white;
        }

        .main-page__buttons-container__green:hover{
            background-color: lighten($color: $green, $amount: 15%);
        }
        
        .main-page__buttons-container__black {
            width: 373px;
            height: 72px;
            margin-left: 60px;
            border: none;

            background: $black;
            border-radius: 2px;
            font-family: $rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.5px;
            color: $white;
        }

        .main-page__buttons-container__black:hover{
            background-color: lighten($color: $black, $amount: 15%);
        }
    }
}