.main-page {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    min-width: 800px;
    background-image: url(../../images/main-page-fon.png);
    background-position: center center;
    background-size: cover;

    .main-page__title {
        max-width: 900px;
        font-family: $days;
        font-size: 56px;
        line-height: 72px;
        text-align: center;
        color: $black;
        padding-bottom: 56px;
        margin-top: -10%;
    }
    .main-page__sub-title {
        max-width: 845px;
        line-height: 145%;
        text-align: center;
        color: $black;
        padding-bottom: 104px;
    }

    .main-page__buttons {
        min-width: 800px;
        max-width: 900px;
        display: inline-flex;
        justify-content: space-between;

        & > * {
            width: 373px;
            height: 72px;
            border-radius: 2px;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.5px;
            color: $white;
        }

        .main-page__buttons--green {
            background: $green;
        }

        .main-page__buttons--green:hover{
            background-color: lighten($color: $green, $amount: 15%);
        }

        .main-page__buttons--black {
            background: $black;
        }

        .main-page__buttons--black:hover{
            background-color: lighten($color: $black, $amount: 15%);
        }
    }
}