.fruit-page {
    @include size(100%, 100%);
    background-image: url(images/vegetables.jpg);
    background-position: center center;
    background-size: cover;
    min-width: 1200px;
    padding: 112px;
}

.fruit-page__body {
    height: 100%;
    width: 100%;
    background: rgba($white, 0.95);
    padding: 48px 72px 48px 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fruit-page_products-count {
    margin-left: auto;
}

.fruit-page__menu {
    @include flex(row, space-between, center);
    height: 46px;
    margin-bottom: 40px;

    .fruit-page__menu--print {
        width: 324px;
        height: 46px;
        font-family: $days;
        font-size: 36px;
        line-height: 46px;
        color: #492511;
        margin-left: 52px;
    }

    .fruit-page__products-count {
        width: 188px;
        height: 21px;

        font-family: $rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.03em;

        color: #000000;
    }
}

.fruits-page__letters {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    scroll-snap-type: y mandatory;
    scroll-snap-type: both proximity;

    .fruits-page__letter--print {
        font-family: $days;
        font-size: 28px;
        line-height: 36px;
        color: rgba(59, 24, 5, 0.74);
    }

    .fruit-page__letters--block {
        display: flex;
        flex-direction: row;
        margin-top: 17px;
        margin-bottom: 17px;
        max-width: 900px;
    }
}

.fruit-page__border--bottom {
    // display: block;
    margin-left: 30px;
    margin-top: 35px;
    position: absolute;
    border: 1px solid #492511;
}

::-webkit-scrollbar {
    width: 8px;
    background: rgba(73, 37, 17, 0.24);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background: rgba(73, 37, 17, 0.24);
}

::-webkit-scrollbar-thumb {
    background: #492511;
    border-radius: 4px;
}

.fruit-page__letter {
    display: inline-block;
    font-family: Days;
    font-size: 28px;
    width: 30px;
    height: 36px;
    color: rgba(73, 37, 17, 0.74);
    padding-right: 12px;
    padding-bottom: 12px;
    margin-right: 12px;
    border-right: 1px solid #492511;

    &:after {
        display: block;
        content: '';
        margin-left: 29px;
        width: 55px;
        height: 1px;
        background-color: #492511;
    }
}

.fruit-page__variants {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.fruit-page__input {
    background-color: #492511;
}

.fruit-page__pickup-recipe {
    width: 280px;
    height: 48px;

    border: 1px solid #492511;
    box-sizing: border-box;
    border-radius: 2px;

    font-family: $rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #492511;
}

.fruit-page__footer {
    display: flex;

    .fruit-page__pickup-recipe {
        margin-left: auto;
    }
}