.fruit-page {
    @include size(100%, 100%);
    background-image: url(images/vegetables.jpg);
    background-position: center center;
    background-size: cover;
    min-width: 1200px;
    padding: 112px;
}

.fruit-page__label {
    display: flex;
    align-items: center;
    margin-right: 48px;
    margin-bottom: 13px;
}

.fruit-page__title {
    display: inline-block;
    padding-left: 8px;
}

.fruit-page__body {
    height: 100%;
    width: 100%;
    background: rgba($white, 0.95);
    padding: 48px 72px 48px 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fruit-page__products-count {
    margin-left: auto;
}

.fruit-page__menu {
    @include flex(row, space-between, center);
    height: 46px;
    margin-bottom: 40px;

    .fruit-page__menu--print title{
        width: 324px;
        height: 46px;
        font-family: $days;
        font-size: 36px;
        line-height: 46px;
        color: #492511;
        margin-left: 52px;
    }

    .fruit-page__products-count title {
        width: 230px;
        height: 21px;
        font-family: $rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #000000;
    }
}

.fruits-page__letters {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-snap-type: both proximity;

    .fruits-page__letter--print {
        font-family: $days;
        font-size: 28px;
        line-height: 36px;
        color: rgba(59, 24, 5, 0.74);
    }

    .fruit-page__letters--block {
        display: flex;
        flex-direction: row;
        margin-top: 17px;
        margin-bottom: 17px;
        max-width: 900px;
        height: auto;
    }
}

::-webkit-scrollbar {
    width: 8px;
    background: rgba(73, 37, 17, 0.24);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background: rgba(73, 37, 17, 0.24);
}

::-webkit-scrollbar-thumb {
    background: #492511;
    border-radius: 4px;
}

.fruit-page__letter {
    display: inline-block;
    font-family: Days;
    font-size: 28px;
    width: 36px;
    height: 36px;
    color: rgba(73, 37, 17, 0.74);
    text-align: center;
    // border-right: 1px solid #492511;
    margin-right: 12px;

}

.fruit-page__variants {
    height: auto;
    width: auto;
    max-width: 775px;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    left: -52px;
}

.fruit-page__border-bottom {
    display: block;
    position: relative;
    content: '';
    height: auto;
    left: -12px;
    bottom: 5px;
    width: 55px;
    border-bottom: 1px solid #492511;
    border-left: 1px solid #492511;
}

.fruit-page__input {
    background-color: #492511;
}

.fruit-page__pickup-recipe {
    width: 280px;
    height: 48px;
    border: 1px solid #492511;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: $rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #492511;
}

.fruit-page__footer {
    display: flex;
    padding-top: 34px;

    .fruit-page__pickup-recipe {
        margin-left: auto;
    }

    .fruit-page__pagination {
        display: flex;
        align-items: center;
        width: 80px;
        justify-content: space-between;
    }
}