extends ../layout/layout.pug
include ../../components/icons/check/check.pug
include ../../components/icons/menu/menu.pug
include ../../components/icons/arrows/arrow-right.pug
include ../../components/checkbox/checkbox.pug
include ../../components/construct-button/button.pug
include ../../components/construct-title/title.pug

block var
    - var title = "OkVegan"

block content
    .fruit-page
        .fruit-page__body
            .fruit-page__menu
                +menuIcon('fruit-page__menu--image')
                +title('Овощи и зелень', 'fruit-page__menu--print')
                +title('Выбрано продуктов: 1', 'fruit-page_products-count')
            .fruits-page__letters
                .fruit-page__letters--block
                    .fruit-page__letter Б
                    .fruit-page__variants
                        +checkbox("fruit-page__input", "Баклажаны")
                        +checkbox("fruit-page__input", "Бобы")
                        +checkbox("fruit-page__input", "Брокколи")
                        +checkbox("fruit-page__input", "Брюква")
                .fruit-page__letters--block
                    .fruit-page__letter Г
                    .fruit-page__variants
                        +checkbox("fruit-page__input", "Горох")
                        +checkbox("fruit-page__input", "Грецкий орех")
                .fruit-page__letters--block
                    .fruit-page__letter Д
                    .fruit-page__variants
                        +checkbox("fruit-page__input", "Дыня")
                .fruit-page__letters--block
                    .fruit-page__letter З
                    .fruit-page__variants
                        +checkbox("fruit-page__input", "Зелень")
                .fruit-page__letters--block
                    .fruit-page__letter К
                    .fruit-page__variants
                        +checkbox("fruit-page__input", "Кабачки")
                        +checkbox("fruit-page__input", "Каперсы")
                        +checkbox("fruit-page__input", "Капуста")
                        +checkbox("fruit-page__input", "Картофель")
                        +checkbox("fruit-page__input", "Кольраби")
                        +checkbox("fruit-page__input", "Кукуруза")
                .fruit-page__letters--block
                    .fruit-page__letter Л
                    .fruit-page__variants
                        +checkbox("fruit-page__input", "Лук зеленый")
                        +checkbox("fruit-page__input", "Лук репчатый")
                .fruit-page__letters--block
                    .fruit-page__letter М
                    .fruit-page__variants
                        +checkbox("fruit-page__input", "Маслины")
                        +checkbox("fruit-page__input", "Морковь")
                        +checkbox("fruit-page__input", "Мускатный орех")
            .fruit-page__footer
                +title('1 из 4', 'fruit-page__number')
                +arrowRightIcon('fruit-page__icon--arrow-right')
                +button('Подобрать рецепты', 'fruit-page__pickup-recipe')