mixin arrowRightIcon(className)
    svg(width="34",
        height="24",
        viewBox="0 0 34 24",
        xmlns="http://www.w3.org/2000/svg",
        class="svg-icon " + className)
        path(d="M23.2929 5.70725L28.5859 11.0002H3C2.448 11.0002 2 11.4482 2 12.0002C2 12.5522 2.448 13.0002 3 13.0002H28.5859L23.2929 18.2932C22.9019 18.6842 22.9019 19.3173 23.2929 19.7073C23.6839 20.0972 24.3169 20.0983 24.7069 19.7073L31.7069 12.7072C31.7989 12.6152 31.8729 12.5052 31.9239 12.3833C32.0249 12.1383 32.0249 11.8622 31.9239 11.6172C31.8749 11.4992 31.8029 11.3893 31.7069 11.2933L24.7069 4.29325C24.3159 3.90225 23.6829 3.90225 23.2929 4.29325C22.9029 4.68425 22.9019 5.31725 23.2929 5.70725Z")
