extends ./layout/layout.pug
include ../components/construct-button/button.pug
include ../components/construct-title/title.pug
include ../components/construct-counter/construct-counter.pug

block var
    - var title = "OkVegan"

block content
    .main-page
        .main-page__title
            +title('Вегетарианские блюда — это красиво и аппетитно')
        .main-page__sub-title
            +title('Если вы или ваш друг вегитарианцы - это совсем не значит, что вы до конца жизни обречены жевать пресные и скучные блюда.')
        .main-page__buttons
            a(href="./vegetables/vegetables.html")
                +button('Выбрать продукты', 'main-page__button main-page__buttons--green')
            a(href="./recipes/recipes.html")
                +button(' Каталог рецептов', 'main-page__button main-page__buttons--black')