extends ../layout/layout.pug
include ../../components/icons/check/check.pug
include ../../components/icons/menu/menu.pug
include ../../components/icons/arrows/arrow-right.pug
include ../../components/construct-button/button.pug

block var
    - var title = "OkVegan"

block content
    .fruit-page
        .fruit-page__hello Fruit!!!
        .fruit-page__icons
            +checkIcon('fruit-page__icon--check')
            +menuIcon('fruit-page__icon--menu')
            +arrowRightIcon('fruit-page__icon--arrow-right')
        +button('Подобрать рецепты', 'fruit-page__pickup-recipe')