.custom-checkbox {
    @include size(28px, 28px);
    border: 1px solid $brown;
    border-radius: 2px;
    cursor: pointer;
    input {
        display: none;
        &:checked + .custom-checkbox__icon {
            opacity: 1;
        }
    }
}

.custom-checkbox__icon {
    opacity: 0;
    position: relative;
    width:100%;
    height: 100%;
    @include flex(row, center, center);
}

.custom-checkbox__icon > svg {
    @include size(24px, 24px);
}

.custom-checkbox__title {
    margin-left: 8px;
    font-family: $rubik;
    font-style: normal;
    font-weight: lighter;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}
