.main-body {
    position: relative;
    height: 100%;
    width: 100%;

    background-image: url(../src/assets/images/main-page-fon.png);
    background-repeat: no-repeat;
    background-size: 100%;

    .main-title {
        width: 900px;
        height: 144px;

        display: flex;
        justify-content: center;
        margin: 0 auto;

        font-family: Days;
        font-size: 56px;
        line-height: 72px;
        text-align: center;
        color: #222629;
    }

    .sub-title {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 845px;
        height: 70px;
        margin: 0 auto;
    
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 145%;
        text-align: center;
        color: #000000;
    }
    
    .main-buttons-container {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 866px;
        height: 72px;
        margin: 0 auto;

        .choose-products {
            width: 373px;
            height: 72px;
            margin-right: 60px;

            background: #86C232;
            border-radius: 2px;
            border: none;

            font-family: Rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.5px;

            color: #FFFFFF;
        }

        .choose-products:hover{
            background-color: #a3c96e;
        }
        
        .catalog-of-recipies {
            width: 373px;
            height: 72px;
            margin-left: 60px;
            border: none;

            background: #222629;
            border-radius: 2px;
            font-family: Rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.5px;
            color: #FFFFFF;
        }

        .catalog-of-recipies:hover{
            background-color: #50585e;
        }
    }
}