@mixin button-back-color($color, $hover){
    &{
        background-color: $color;
    }
    &:hover{
        background-color: lighten($color, $amount: 15%)
    }
}

@mixin size($width, $height){
    width: $width;
    height: $height;
}